<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suit1" verbose="1">

    <test name="myFile">
        <classes>
            <class name="firstTest.FirstTest"></class>
        </classes>
    </test>


    <test name="Parampamam">
        <parameter name="IDont" value="GG"></parameter>
        <parameter name="IKnow" value="BG"></parameter>

        <classes>
            <class name="firstTest.ThirdTest"></class>
        </classes>
    </test>
</suite>